<div>
    <p>You have received a new message.</p>
    <br>
    <p><b>Sender's Name-</b> <%=messageBody.name%></p>
    <p><b>Sender's Email-</b> <%=messageBody.email%></p>
    <p><b>Sender's Message-</b> <%=messageBody.content%></p>
</div>