<div>
    <p>Hi <%=messageBody.name%>,</p>
    <p>Thank you for contacting Us.<br>
     <p>Your message has been received and delivered to the admins successfully. If needed we will
        get in touch with you shortly.
    </p>
    <br>
    <p>Regards,</p>
    <p>Logigo</p>
</div>