<div>
    <p>Hi, <%=messageBody.name%></p>
    <br>
    <p>Your OTP is <b><%=messageBody.otp%></b></p>
    <p>Please, do not share it with anybody.</p>
    <br>
    <p>Regards,</p>
    <p>Logigo</p>
</div>