.home {
  text-align: center;
}

.hhero {
  background-color: white;
  padding: 2em;
  
}

.hhero-text {
  font-size: 50px;
  margin-bottom: 20px;
  
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
    
}

.image-container{
  position: relative;
  padding-bottom: 5%;
  padding-top: 0px;
  top: 0;
  height: 70vh;
  object-fit: cover;
}

.hhero-subtext {
  font-size: 20px;
}

.section-header {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.content {
  padding: 2em;
}

.image {
  margin: 10px auto;
  max-width: 100%;
  display: block;
}

.image img {
  width: 150%;
  height: auto;
  display: block;
  margin: auto;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.formContainer{
  background-color: white;
  position: absolute;
  padding: 2em;
  right: 8vw;
  top: 5vw;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .hero-text {
    font-size: 30px;
  }

  .hero-subtext {
    font-size: 16px;
  }

  .section-header {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }
}
