.footer {
  position: relative;
  height: 250px;
  background-color: #577D86;
  color: #fff;
  padding: 30px;
}

.footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #577D86(0, 0, 0, 0.5);
}

.footer-content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-column {
  width: 30%;
  padding-left: 120px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color:whitesmoke;
  text-decoration: none;
}
