.footer {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  
  background-color: #577D86;
  color: #fff;
  
  padding: 30px;
}

.footer-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  width: 30%;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  font-size: small;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-link {
  color:whitesmoke;
  text-decoration: none;
}
.footer-link:hover {
  color:#223235;
}

.footer-icon {
  font-size: 60px;
  margin: 30px;
  transition: transform .2s; 

}
.footer-icon:hover{
  transform:scale(1.5);
  color: #223235;
}