.footer {  
  background-color: #577D86;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-row{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  padding: 0.5em;
}

.footer-column {
  width: 50vw;
  text-align: left;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color:whitesmoke;
  text-decoration: none;
}
