.grievance-container-fluid{
    padding: 1em;
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url('/shutterstock_1469983160.jpg');
    background-size: cover;
    padding:40px;
    margin: 0;
    top: 0;
    left: 0;
    width:100%;

}

.gform-cont{
    background-color: white;
    color: black;
    padding: 1.5em;
    border-radius: 1em;
    margin: 1em;
    

}
.gform{
    background-color: white;
    margin: 1em;
    /* right: 2em; */
    padding: 1em;
    /* width:95%;
    height:50%; */
    text-align: center;
}

.promotion h1{
    font-size: 4rem;
    font-weight: 15px;
    color: white;
}

.promotion-sub span{
    font-size: 2rem;
    font-weight: 10px;
    color: white;
}

.gform input[type="text"] {
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    background-color: transparent;
    display: block;
    margin-bottom: 2.7rem;
    /* margin-bottom: 2.7rem; */
    width: 100%;
    color: black;
    height: 2rem;
    padding-left: 0.4rem; 
    margin-bottom: 2em;
   
}

#gform{
  padding-top: 30px;
  background-color: green;
  color:white
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

#Submit-complaint{
    background-color: #577D86;
}
#Submit-complaint:hover{
    background-color: #223235;
}
