#grievance-helper {
    height:100%;
    min-height: 80vh;
}

#grievance-header,#grievance-flex_user,#grievance-message-section {
    width: 80%;
}

#grievance-header span {
    margin-left:5px;
    font-size: 38px;
    margin-right:5px

}
#big-box {
    padding-top:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .grievance-box {
    width: 35%;
  }
  
  #second-box {
    width: 65%;
  }
#promotion {
    font-size: 100px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
  }
  
  #promotion-sub {
    font-size: 35px;
    font-weight:600;
    margin-bottom: 50px;
    color:white;
  }

/**/

  .grievance-container-fluid {
    padding-top:0px;
   
    text-align: center;
    
  }
  
  .grievance-container-fluid::before {
    content: "";
    position: absolute;
    padding-top:0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/shutterstock_1469983160.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    background-color: rgba(100, 157, 218, 0.5); /* Change the opacity as desired */
    z-index: -1;
  }


.grievance-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: white;

}
  

#grievance {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #577D86 60%, #4f7982); 

}
#grievance #my-grievance-address p {
    color: white;
    font-size: 1.5rem;
    font-weight: 550;
    display: inline-block; 
}
#grievance #my-grievance-address #grievance-location span {
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 1rem; 
}
#grievance #my-grievance-address #grievance-mobile span {
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 1rem; 
}
#grievance #my-grievance-address #grievance-email span {
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 1rem;
}
#grievance #grievance-message-submit {
    margin: auto;
    margin-top: 1rem;
    display: block; 
}
  
#grievance-header {
    color: black;
    font-size: 2.9rem;
    font-weight: 530;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem; 
}

#grievance-flex_user {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.grievance-box {
 
    height: auto;
    min-height: 70vh;
    padding: 1rem;
    display: flex;
    flex-direction: column; 
    /* border: 2px solid black; */
  }
  
  .grievance-header {
    padding: 1rem;
    font-size: 2rem;
    color: red;
    height: 10%; 
  }
  
  .grievance-box {
    height: 90%;
    min-height: 63vh;
    margin-left: 50px;
    padding: 1rem; 
    width: 32%;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    box-sizing: border-box;
    position: left;
    /* background-color: white; */
  }
  

#grievance-other-info {
    box-sizing: border-box;
    width: 35%;
    margin: auto; 
}
#grievance-other-info #grievance-connect span {
    display: inline-block;
    color: black;
    font-size: 1.8rem;
    font-weight: 550; 
}
#grievance-other-info #grievance-connect #grievance-connect-text {
    display: inline-block;
    color: black;
    font-size: 1.2rem;
    text-align: justify; 
}
        
/*grievance Section's message-section*/
#grievance-message-section {
    box-sizing: border-box;
    width: 60%;
    margin: auto; 
}

.grievance-section input[type="text"] {
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    background-color: transparent;
    display: inline-block;
    margin-bottom: 2.7rem;
    width: 100%;
    color: black;
    height: 2rem;
    padding-left: 0.4rem; 
}
          
#grievance input[type="submit"] {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 0.8rem 0.8rem;
    font-weight: 550;
    display: inline-block;
}
#grievance-message-submit {
    background-color: rgb(98, 165, 199); /* Green */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  

#grievance-message-submit:hover{
    background-color: #4CAF50;
    color: white;
}

#grievance #grievance-message-submit:hover {
    background-color: white;
    color: blue; 
}

@media screen and (max-width: 728px) {
    #other-info {
        width: 80%;
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
    #message-section {
        width: 80%; 
    } 
}

.grievance-dropdown-menu {
    padding: 0px;
}

.grievance-dropdown-menu a {
    border-bottom: 1px solid black; 
}
  
.grievance-danger {
    background-color: #ffdddd;;
    border-left: 6px solid #f44336;
}  

.grievance-success {
    background-color: #e0ffdd;
    border-left: 6px solid green;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
