body{
    font-size:12px;
}

.text {
    margin-left:1rem;
    margin-top:1rem;
}

.term {
    font-size:1rem;
    margin-bottom:0.5rem;
    font-weight:400;
    font-family: sans-serif;
}

.text-box {
    margin:2rem;
}