.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#577D86 0,#577D86 100%) !important; 

}
.navbar-brand
{
    color:aliceblue !important;
}
.nav-link{
    color: aliceblue !important;
}
.offcanvas
{
    background-color:#577D86 !important;
    --bs-offcanvas-bg : #577D86 !important;
}
.dropdown-menu {
    /* background-color: #e4c812; */
    background-image: linear-gradient(to bottom#577D86 0,#577D86 100%) !important; 
}

/* .dropdown-item, .dropdown-item:active {
    color: rgb(6, 133, 243) !important;
    /* text-decoration: none; 
}*/

/* .dropdown-item:hover {
    color: rgb(6, 133, 243) ;
    text-decoration: none;
} */

/* hr
{
   /* background-color: aliceblue; */


.link{
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
}



.dropdown-menu a {
    border:0 !important;
    background-color:#577D86;
    --bs-dropdown-bg:#577D86 !important;
    --bs-dropdown-link-hover-bg:#577D86 !important;
}

.dropdown-menu a:hover {
    background-color: white;
}

.dropdown-menu .nav-link {
    color: rgba(0, 0, 0, 0.71) !important;
}

.temp {
    margin-top:-10px;
}

.temp1 {
    margin-bottom:-10px;
}